.idea/
example/build/
example/android/build/
example/ios/build/
example/web/build/
example/linux/build/
example/macos/build/
example/windows/build/
example/.dart_tool/
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/.packages
example/.pub-cache/
example/.pub/
example/.idea/
example/.vscode/
example/.metadata
example/android/.gradle/
.dart_tool/
pubspec.lock
example/pubspec.lock
example/ios/Flutter
example/ios/Runner
example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
example/android/gradle
example/android/gradlew
example/android/gradlew.bat
example/android/local.properties